/*Override bootstrap*/
.container-fluid {
	padding: 0;
}

.navbar-light {
    background-color: #00BCD4 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-light .navbar-text, .nav-link, .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
	color: white !important;
}

.navbar-light .nav-link.active, .nav-link:hover {
    background-color: #0097A7 !important;
}

.navbar-light .nav-link {
    border-radius: 12px;
}

.btn-primary {
	background-color: #00BCD4;
	border-color: #00BCD4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #0097A7;
	border-color: #0097A7;
}

.btn-primary.disabled, .btn-primary:disabled {
	background-color: #0097A7;
	border-color: #0097A7;
    opacity: .4;
}

a {
    text-decoration: none !important;
    color: #00BCD4;
}

a:hover, a:active {
    text-decoration: none !important;
    color: #0097A7;
}
