body {
	font-family: 'Roboto', sans-serif;
	background: inherit;
	padding-top: 55px;
	margin: 0;
}

.recipe-new-form, .recipe-edit-form {
  margin-top: 50px;
  padding: 15px;
  background-color: rgb(250, 250, 238);
}

a {
	text-decoration: none;
}

.recipeForm {
	margin: auto !important;
	width: 50%;
}

.registerForm {
	margin: auto !important;
	width: 18%;
}

.loginForm {
	padding-top: 16%;
	margin: 0 auto;
}

html {
	background: url(backgorund.png);
}

/* Log In */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sign-form-submit {
    margin-top: 10px;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*Full Calendar */
.fc-event .fc-content .fc-title {
	font-size: 17px !important;
}

.fc-view-container {
	background-color: rgb(252, 248, 227) !important;
}

#copyright {
	margin-right: 15px;
}

#icons-reference {
  margin-left: 15px;
}
